*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    text-transform: capitalize;
    text-align: center;
}
.card{
    display: inline-block;
    padding: 20px 30px;
    border-radius: 20px;
    border: 1px rgba(211, 211, 0.486) solid;
    margin: 10px;
    transition: 0.6s;
}
.card:hover{
    transition: 0.6s;
    box-shadow: 5px 5px 20px lightgray;
}
.card img{
    transition: 0.2s;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 2px;
}
.card:hover img{
    transition: 0.2s;
    outline: 4px solid lightblue;
}
.card p{
    color: gray;
}
.social-media a i{
    color: grey;
    font-size: large;
    transition: 0.5s;
    padding: 12px 3px ;
}
.social-media a i:hover{
    transition: 0.5s;
    transform: scale3d(2);
    color: #0d6efd;
}
span{
    color: grey;
    font-size: large;
    transition: 0.5s;
    padding: 10px 5px ;
    
}
 span:hover{
    color: red;
   
}
span i:hover{
    color: black;
}
.social-media{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
}
h1{
    margin: 20px 0;
}
 .main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
 p:hover{
    color: black;
 }